<div class="container mx-auto px-4 py-2">

  <h4 class="top-title">同人誌即売会で買い逃しがないように</h4>
  
  <p class="top-words">コミックマーケットなどの同人誌即売会をスムーズに回れるように、買い物リストを作成しましょう</p>


  <div class="text-center mb-5 pb-5">
    <div style="margin-top:50px">
      <%= link_to 'ログインページへ', login_path, class: 'add-button' %>
    </div>

    <div style="margin-top:20px">
      <%= link_to '新規登録ページへ', new_user_path, class: 'add-button' %>
    </div>
  </div>
</div>

