<div class="footer">
  <ul class="menu">    
    <li><a class="nav-link" href="/terms_of_service">利用規約</a></li>
    <li class="nav-item"><a class="nav-link" href="/privacy_policy">プライバシーポリシー</a></li>
  </ul>
  <p class="copyright">Copyright © 2022. TreaList</p>
</div>