<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">admin</h2>
    <ul class="channel_list">
      <li class="user-footer">
        <form class="button_to" method="post" action="/logout">
          <input type="hidden" name="_method" value="delete" autocomplete="off">
          <button class="btn btn-default btn-flat" type="submit">ログアウト</button>
        </form>
      </li>
    </ul>
  </div>
</div>

